# predicting heart disease using machine learning

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import precision_score , recall_score, f1_score
from sklearn.metrics import plot_roc_curve

In [5]:
df = pd.read_csv('heart-disease.csv')

heart disease frequency according to gender

In [6]:
df.sex.value_counts()

1    207
0     96
Name: sex, dtype: int64

compare target colun with sex column

In [7]:
pd.crosstab(df.target,df.sex)

sex      0    1
target
0       24  114
1       72   93