In [1]:
import pandas as pd
import numpy as np
import boto3
import json
import datetime
import pytz

In [ ]:
bucket_name = 'kishoredkjul18'
s3_client = boto3.client('s3')
sig = pd.DataFrame()
val_dict = {}
time_modified = datetime.datetime(2020,1,1)
time_modified = time_modified.astimezone(pytz.timezone("Asia/Kolkata"))
#take 100 minutes data
for i in range(100):
    x=0
    # 1 minute signature
    while (x<60): 
            latest_ver = s3_client.get_object(Bucket = 'kishoredkjul18', Key='Id6')
            last_modified = latest_ver['LastModified']
            last_modified = last_modified.astimezone(pytz.timezone("Asia/Kolkata")) 
            if last_modified>time_modified:
                json_body = json.loads(latest_ver['Body'].read()[0:-1].decode('utf8'))
                val_dict[f'V{x+1}'] = json_body['V1']
                val_dict[f'C{x+1}'] = json_body['C1']
                val_dict[f'A{x+1}'] = json_body['A1']
                val_dict[f'PF{x+1}'] = json_body['PF1']
                val_dict[f'AP{x+1}'] = json_body['AP1']
                val_dict[f'RP{x+1}'] = json_body['RP1']
                val_dict[f'F{x+1}'] = json_body['F1']
                time_modified = last_modified
                x+=1
    df2 = pd.DataFrame(val_dict,index=[i])
    sig = sig.append(df2)

In [4]:
sig

,V1,C1,A1,PF1,AP1,RP1,F1,V2,C2,A2,PF2,AP2,RP2,F2
0,225.93,0.01,-1.0,-0.01,111.11,111.11,50,225.92,0.01,-1.0,-0.02,55.56,55.55,50

In [ ]:
sig.to_csv('washing machine.csv',index= False)