In [1]:
import numpy as np
import random
import pandas as pd
np.random.seed(196)

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
V1 = np.random.uniform(220.08,240.53,2592000)
C1 = np.random.uniform(0.59,4.08,2592000)
F1 = np.random.uniform(49.98,50.10,2592000)
PF1 = np.random.uniform(0.691161,0.8,2592000)
A1 = (V1*C1)/1.41421356237
AP1 = A1/PF1
RP1 = ((AP1**2)-(A1**2))**(1/2)

df = pd.DataFrame({'V1':V1,'C1':C1,'PF1':PF1,'AP1':AP1,'RP1':RP1,'F1':F1,'A1':A1})

In [12]:
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)

In [5]:
df.head()

,V1,C1,PF1,AP1,RP1,F1,A1
0,234.180465,3.918611,0.796190,814.988094,493.106157,50.075857,648.885129
1,231.899597,0.765243,0.708204,177.184702,125.093871,50.050566,125.482835
2,221.096090,2.048646,0.747584,428.422904,284.544262,50.093331,320.282293
3,223.742515,1.949945,0.720886,427.946358,296.589752,50.069783,308.500574
4,230.451922,3.933060,0.752925,851.224909,560.196718,50.034531,640.908326

In [ ]:
X = df.drop('A1',axis = 1)
Y = df['A1']

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train,Y_train)

In [ ]:
model.score(X_test,Y_test)