In [227]:
import boto3
import pandas as pd
bucket_name = 'caxebucketid4'
s3_client = boto3.client('s3')
versions_response = s3_client.list_object_versions(Bucket = bucket_name)
itr = len(versions_response['Versions']) 
ver_list_dict = versions_response['Versions']
ver_list=[]
ver_time_list=[]

In [228]:
for x in range(itr):
    ver_list.append(ver_list_dict[x]['VersionId'])
    ver_time_list.append(ver_list_dict[x]['LastModified'])
x = pd.Series(ver_list).tolist()
y = pd.Series(ver_time_list)

In [229]:
y

0     2020-08-06 11:41:51+00:00
1     2020-08-06 11:41:50+00:00
2     2020-08-06 11:41:49+00:00
3     2020-08-06 11:41:48+00:00
4     2020-08-06 11:41:46+00:00
                 ...
995   2020-08-06 11:19:05+00:00
996   2020-08-06 11:19:03+00:00
997   2020-08-06 11:19:02+00:00
998   2020-08-06 11:19:01+00:00
999   2020-08-06 11:18:59+00:00
Length: 1000, dtype: datetime64[ns, tzutc()]

In [230]:
y = y.dt.tz_convert('Asia/Kolkata')
y

0     2020-08-06 17:11:51+05:30
1     2020-08-06 17:11:50+05:30
2     2020-08-06 17:11:49+05:30
3     2020-08-06 17:11:48+05:30
4     2020-08-06 17:11:46+05:30
                 ...
995   2020-08-06 16:49:05+05:30
996   2020-08-06 16:49:03+05:30
997   2020-08-06 16:49:02+05:30
998   2020-08-06 16:49:01+05:30
999   2020-08-06 16:48:59+05:30
Length: 1000, dtype: datetime64[ns, Asia/Kolkata]

In [231]:
df = pd.DataFrame({'VersionId':x},index=y)
df

                                                  VersionId
2020-08-06 17:11:51+05:30  RnVN1rjYbDrBGESqPs4nnGsUo.qls7XU
2020-08-06 17:11:50+05:30  VBu5Y65bN7tdeZlmWRHtcJH3JbeS2Lc2
2020-08-06 17:11:49+05:30  4XfdIX5rrgiec9MXQX0cYCKz4Qa.2iJD
2020-08-06 17:11:48+05:30  8DDv_y6ODR3hfIgPqZl3clO3HlTfgG.c
2020-08-06 17:11:46+05:30  vC1ViwU.dYI22smPSlACoSFXy5IqvOY9
...                                                     ...
2020-08-06 16:49:05+05:30  9ypypLNG4sMvDHXFGU.O7UhMBSExLzLg
2020-08-06 16:49:03+05:30  q4vQjczJxj8DhxU44xdnIhYPHXjdAyVE
2020-08-06 16:49:02+05:30  qDJRJzqCZqw1z5HifmooXjFtimbU2hkZ
2020-08-06 16:49:01+05:30  QEbVjx86LiPw5lDr7EcuZeRLavJqI6DD
2020-08-06 16:48:59+05:30  YNC5H_3VNgK8nTpTpALF91JRC3bWihBz

[1000 rows x 1 columns]

In [232]:
start = df.index.values[0]
start

numpy.datetime64('2020-08-06T11:41:51.000000000')

In [233]:
start = pd.Timestamp(start,tz='Asia/Kolkata')

In [234]:
start

Timestamp('2020-08-06 17:11:51+0530', tz='Asia/Kolkata')

In [235]:
end = start - pd.Timedelta('0 days 00:10:00')
end

Timestamp('2020-08-06 17:01:51+0530', tz='Asia/Kolkata')

In [236]:
df2 = df[start:end]

In [237]:
df2

                                                  VersionId
2020-08-06 17:11:51+05:30  RnVN1rjYbDrBGESqPs4nnGsUo.qls7XU
2020-08-06 17:11:50+05:30  VBu5Y65bN7tdeZlmWRHtcJH3JbeS2Lc2
2020-08-06 17:11:49+05:30  4XfdIX5rrgiec9MXQX0cYCKz4Qa.2iJD
2020-08-06 17:11:48+05:30  8DDv_y6ODR3hfIgPqZl3clO3HlTfgG.c
2020-08-06 17:11:46+05:30  vC1ViwU.dYI22smPSlACoSFXy5IqvOY9
...                                                     ...
2020-08-06 17:01:57+05:30  8A5bWU.qkXLXo4WaXHJtryNRfce8P.Xb
2020-08-06 17:01:55+05:30  ae3sLdW6Nle3EVKcGVokDqkaK5EvaEbB
2020-08-06 17:01:54+05:30  5PNzeVOoLqBcwGfk4n8HSm2m.lz1LpgH
2020-08-06 17:01:53+05:30  tyyBMj3l0MC2sNuEsYUqfeEs59vLU58w
2020-08-06 17:01:51+05:30  xFgfvkNXsqcQ_KRHy5FIgvAl5qL7iuNU

[432 rows x 1 columns]

In [238]:
start>end

True